div.home-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

div.home-balance-card {
    width: 97.5%;
    border-radius: 15px;
    box-shadow: var(--initial-shadow);
    background: var(--card-bg);
    padding: 20px 25px;
    grid-column-start: span 2;
}

h1.home-main-value {
    font-size: 50px;
    color: var(--accent-primary);
}

div.home-total-earnings-card {
    width: 95%;
    border-radius: 15px;
    box-shadow: var(--initial-shadow);
    background: var(--card-bg);
    padding: 20px 25px;
}

div.home-total-expenses-card {
    width: 95%;
    border-radius: 15px;
    box-shadow: var(--initial-shadow);
    background: var(--card-bg);
    padding: 20px 25px;
}