div.home-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

p.home-card-label {
    color: var(--text-color);
}

div.home-main-value-container{
    font-size: 3rem;
    height: 90%;
    display: flex;
    color: var(--accent-primary);
}

/* Home Cards */

div.home-balance-card {
    width: 97.5%;
    border-radius: 15px;
    box-shadow: var(--initial-shadow);
    background: var(--card-bg);
    padding: 20px 25px;
    grid-column-start: span 2;
}

div.home-total-earnings-card {
    width: 95%;
    border-radius: 15px;
    box-shadow: var(--initial-shadow);
    background: var(--card-bg);
    padding: 20px 25px;
}

div.home-total-expenses-card {
    width: 95%;
    border-radius: 15px;
    box-shadow: var(--initial-shadow);
    background: var(--card-bg);
    padding: 20px 25px;
}