/* Profile Info Card */

div.profile-info-content {
    box-shadow: var(--initial-shadow);
    border-radius: 15px;
    background: var(--card-bg);
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.profile-info-content h1 {
    font: 25px;
}